.app-header {
    background-color: #e91e63;
    color: whitesmoke;

    > section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1{
            margin: 0;
        }
        h1.logo {
            flex-grow: 1;
            font-weight: 600;
        }

        .back {
            flex-grow: 1;
        }

        nav {

            a {
                color: white;
                &:not(:last-child) {
                    margin-right: 20px;
                }

                &.active {
                    font-weight: 700;
                    text-decoration: underline;
                }

            }
        }
    }

    @media(max-width:750px){
        section{
            justify-content: center;
        }
        h1{
            display: none;
        }
    }
}
