.moves-list{
    text-align: start;
    background-color: rgb(208, 217, 223);
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
}